@charset "UTF-8";
/*メニュー*/
nav {
  text-align: center;
}

nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 70%;
}

nav ul li{
  display: table-cell;
  min-width: 50px;
}

nav ul li a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  background-color: #ccc;
}

nav ul li a:hover {
  color: #FF0000;
}

/*スライドショー*/
.slide{
   position: relative;
   height: 300px;
   max-width: 960px;
}
.slide img{
   position: absolute;
   left: 0;
   top: 0;
}


/*スキル*/
.skill {
  background: #ddd;
}

/*資格*/
.qualification {
  background: #ddd;
}


.area {
  width: 980px;
  margin: 0 auto;
  padding: 20px 0;
}




section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

section div {
  width: 33%;
  display: inline-block;;
  min-height: 400px;
  margin: 0 0 2.5vw;
  padding: 3%;
  box-sizing: border-box;
  background: #eaeaea;
}

.photo {
  opacity: 0;
  transition: all .5s ease;
}

.photo.show {
  opacity: 1;
  transform: none;
}

.sa--up {
  transform: translate(0, 100px);
}

/*写真注釈*/
figure.cp_caption {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 120px;
  max-width: 300px;
  max-height: 300px;
  margin: 10px 1%;
  color: #ffffff;
}

figure.cp_caption * {
  -webkit-box-sizing: boder-box;
  box-sizing: border-box;
}

figure.cp_caption img {
  width: 100%;
  height: 100%;
}

.cp_caption img:hover,figure.cp_caption:hover {
  filter: grayscale(100%);
  transition: all 0.3s ease-out;
}

figure.cp_caption figcaption {
  position: absolute;
  z-index: 1;
  top: 50%;
  padding: 1em;
  transition: all 0.3s ease-out;
  transition-delay: 0.1s;
  opacity: 0;
}

figure.cp_caption:after {
  position: absolute;
  top:5%;
  right: 5%;
  bottom: 7%;
  left: 5%;
  display: inline-block;
  content: '';
  transition: all 0.3s ease-out;
  opacity: 0;
  background: rgba(27, 37, 56, 0.8);
}

figure.cp_caption:hover:after {
  opacity: 0.9;
}

figure.cp_caption:hover figcaption {
  transform: translateY(-50%);
  opacity: 1;
}

/*モーダル*/
#modal-content {
  width: 50%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

.modal-p {
  margin-top: 1em;
}

.modal-p :first-child {
  margin-top: 0;
}

.button-link {
  color:#00f;
  text-decoration: underline;;
}

.button-link:hover {
  cursor: pointer;
  color: #f00;
}

/*テーブルレイアウト*/
.topics dl {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.topics dt {
  border-bottom: 1px solid #ccc;
}

.topics dd {
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  .topics dt {
    clear: left;
    float: left;
    /*width: 30%;*/
  }
  .topics dd{
    margin-left: 11%;
  }
}

/*2カラム*/
.contents-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contents-box{
  width: 49%;
  background-color: #CCC;
}


@media screen and (max-width: 768px){
  section div {
  width: 100%;
  }

.contents-wrap {
  flex-direction: column;
}

.contents-box{
  width: 98%;
   }
 }



/*カウント付きリストデザイン*/
.cp_liststamp {
  counter-reset: number;
}

.cp_liststamp li:before{
  counter-increment: number;
  content: "第"cunter(number)"回目";
}



footer  {
  width: 100%;
  height: 100px;
  background-color: #ccc;
}

.footer {
  width: 980px;
  height: auto;
  background-color: #DDD;
  margin: 0 auto;
  text-align: center;
}

/*pagetop*/
.page-top
{
	margin: 0 ;
	padding: 0 ;
  display: none ;
}

.page-top p
{
	margin: 0 ;
	padding: 0 ;

	position: fixed ;
	right: 16px ;
	bottom: 16px ;
}

.move-page-top
{
	display: block ;
	background: #D36015 ;
	width: 50px ;
	height: 50px ;

	color: #fff ;
	line-height: 50px ;
	text-decoration: none ;
	text-align: center ;

	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}

.move-page-top:hover
{
	opacity: 0.85 ;
}
